<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta hrrp-equiv="X-UA-compatible" contect="IE=edge">
        <title>Document</title>
    </head>
    <body>
        <a href="/Booking">Booking</a> | <a href="/Bookings">Detil Bookings</a> | <a href="/perhotelan">Detil boking open BO</a>
        {% block judul%}

        {% endblock judul %}
        {% block kotak %}

        {% endblock %}

    </body>
</html>