{% extends 'base.html' %}

{% block kotak %}
<h1>NAMA HOTEL</h1>

<table border="1">
    <tr>
        <td>No</td>
        <td>Jenis Kamar</td>
        <td>Harga</td>
    </tr>
    <tr>
        <td>111</td>
        <td>Standard Room</td>
        <td>Rp.500.000</td>
    </tr>
    <tr>
        <td>222</td>
        <td>Presidential Room</td>
        <td>Rp.800.000</td>
    </tr>
</table>

{% endblock kotak %}