 <!DOCTYPE html>
 <head>
   <title>membuuat bagcroun</title>
   <style>
     
   </style>
 </head>
 <body>
    
 </body>
 </html>

{% extends 'base.html' %} 

{% block judul %}
<h1 id="judul">Booking</h1>

{% endblock judul %}
{% block kotak %}
<p>hotel adalah sebuah bangunan, perusahaan atau usaha yang menyediakan jasa inap dan juga menyediakan makanan dan minuman bagi tamu yang datang serta mempunyai fasilitas jasa lainnya.</p>

{% endblock kotak %}