{% extends 'base.html ' %}

{% block judul %}
<h1 id="judul">Vava</h1>

{% endblock judul %}

{% block kotak%}
    <p>ini adalah website Vava</p>

<center>
    <footer>
        <a href "#">@ Copyright Ahmad Zulkifli</a>
    </footer>
</center>
{% endblock kotak %}